<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">

#   <h2 class="mb-6 dir-text-arabic">مميزات QuiQ 
#   </h2>

#   <div class="row feature-stamp">
#     <div class="col-lg-3 col-md-6">
#       <div class="feature-item">
#         <div class="stamp bg-primary1"><i class="fa fa-desktop fa-2x"></i></div>
#         <h4 class="mt-4"><%= t("features.rooms") %></h4>
#       </div>
#     </div>
#     <div class="col-lg-3 col-md-6">
#       <span class="stamp bg-primary1"><i class="fa fa-bullseye fa-2x"></i></span>
#       <h4 class="mt-4"><%= t("features.recordings") %></h4>
#     </div>
#     <div class="col-lg-3 col-md-6">
#       <span class="stamp bg-primary1"><i class="fa fa-magic fa-2x"></i></span>
#       <h4 class="mt-4"><%= t("features.designs") %></h4>
#     </div>
#     <div class="col-lg-3 col-md-6">
#       <span class="stamp bg-primary1"><i class="fa fa-key fa-2x"></i></span>
#       <h4 class="mt-4"><%= t("features.authentication") %></h4>
#     </div>
#   </div>
# </div>
<div class="row">
    <div class="col-sm-12 col-lg-8 offset-lg-2 text-center pb-0 pb-lg-4">
        <h1 class="main-heading grey-color">
QuiQ الخصائص المميوة في </h1>
        <p class="sub-heading">
يقدم لك QuiQ  مجموعة خدمات لصفك الافتراضي تكسبك راحة في التعامل ومتعة 
        </p>
    </div>

</div>
<div class="row mt-4">

    <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
        <div class="media-element">
        <div class="media">
            <i class="fa fa-magic feature-icon mr-3"></i>
            <div class="media-body">
                <h4 class="card-title mt-2 grey-color">
                    تصميم مناسب وسهل 
                </h4>
                <p class="black-color">
ليس هناك تعقيدات في تصميم منصتنا الافتراضية
                    حيث يمكنك استخدامه بمرونة فائقة وبدون مساعدة خبير               
                
                </p>
            </div>
        </div>
        <div class="line mt-3"></div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
        <div class="media-element">
             <div class="media">
                <i class="fa fa-desktop feature-icon mr-3"></i>
                <div class="media-body">
                <h4 class="card-title mt-2 grey-color">
                    غرف مخصصة لكل صف
                    </h4>
                    <p class="black-color">
                        تتمتع جلستك بقدر عالي من الأمان                                 تستطيع قفل الجلسة وجعلها خاصة لمجموهة معينة من الطلاب 

                    </p>
                </div>
        </div>
            <div class="line mt-3"></div>
    </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
        <div class="media-element">
             <div class="media">
                 <i class="fa fa-bullseye feature-icon mr-3"></i>
                    <div class="media-body">
                         <h4 class="card-title mt-2 grey-color">
                            تسجيل الجلسات 
                        </h4>
                        
                        <p class="black-color">
دقة عالية لتسجيل الجلسة بحجم مناسب جدا لسرعات الانترنت في سوريا وتستطيع أيضا مشاركة جميع أنواع الملفات         
                        </p>
                    </div>
             </div>
            <div class="line mt-3"></div>
        </div>
    </div>
</div>
</div>
<br>
<br>
 

    <div class="container">
        <div class="row about-wrap d-flex justify-content-center align-items-center">
            <div class="col-lg-6 col-md-5 col-sm-12 md-mb-5">
                <div class="image about-bordered">
                    <img src="https://image.freepik.com/free-vector/online-education-isometric-flowchart-with-human-characters-books-computer-devices-purple_1284-31780.jpg" alt="image">
                </div>
                <div class="about-bg-img-setting gradient-bg"></div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-12">
                <div class="main-title text-md-left mb-xs-3 md-mb-0 wow fadeIn margin-top-40" data-wow-delay="300ms">
                    <h5 style=" color: purple; 
                    direction: ltr;text-align: center;"> تعرف أكثر على التعلم عن بعد </h5>
                    <h2 style=" color:#12294A;text-align: center; font-size:xxx-large"> QuiQ E-learning</h2>
                    <p class="mb-4" style="direction:ltr;text-align:right">
                    يمكننا تسميته التعليم الالكتروني، أو التعليم عبر الانترنت أو الويب، سواء من هاتفك الجوال أو الكمبيوتر أو غيرها من الأجهزة، كل هذه الأسماء تنطوي تحت مصطلح واحد وهو التعليم عن بعد. لماذا سُمي بهذا الاسم؟ حسنًا الجواب سهل، فبمجرد أنك تتلقى العلم أو الفصل الدراسي عبر الانترنت وأنت في منزلك أو في المقهى أو أي مكان آخر، فأنت تتعلم بعيدًا عن المدارس التقليدية أو الجامعات.
 يتضمن التعليم عن بعد البيئة الافتراضية للفصل الدراسي الطبيعي، والذي يتلقاه أي طالب مدرسي أو جامعي، حيث ستلقى تعليمًا حيًا بالصوت والصورة مع شرح كافٍ ودردشة مباشرة مع استاذك.<br> 
وقد أصبح متاح وشائع للأسباب التالية:
    <strong>المرونة في التعلم</strong>: في البيئات الدراسية التقليدية، يتم تحديد أوقات وأيام الدوام وأوقات الاستراحة، ولا سلطة للطالب على ذلك فهو مجبر بالالتزام بالقوانين، إنما التعليم عبر الانترنت يمنح الطالب حرية التوفيق بين مشاغله الخاصة وبين وقت دراسته 
<br> <strong>التواصل مع الآخرين:</strong> يمنح التعليم عن بعد فرصة التعارف بين الطلاب من جميع الدول، والتعاون فيما بينهم أحيانًا لتنفيذ مشاريع متعلقة بحصتهم الدراسية، وبالتالي خوض تجربة جميلة والتعلم من الثقافات الأخرى.
<br><strong>أمان المعلومات ووثوقية الرجوع إليها:</strong> بإمكانك تخزين المعلومات والمناقشات التي أجريتها في الحصة والمواد التدريبية ورسائل بريدك الالكتروني جميعها في المستندات، بالتالي ستكون قادر على الوصول إلى المعلومات بسرعة مما يوفر الوقت والجهد.
<br><strong>التركيز وزيادة الإنتاج:</strong> قد لا يحصل الطالب خلال الفصول الدراسية التقليدية على الاهتمام الذي يحتاجه لتوضيح الأفكار والمفاهيم، كالاهتمام الموجود في التعلم عبر الانترنت، هنا؛ أنت تتحدث شخصيًا لمدرسك وتناقشه فيما تحتاج إلى فهمه، مما يزيد من فرص فهمك وأداؤك ويعزز لديك القدرة على التفكير وحل المشكلات.
                    
                    </p>
                   
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12 p-0 equalheight col-video video-bg">
                    <div class="image hover-effect">
                        <img alt="stats" src="https://image.freepik.com/free-vector/online-education-isometric-flowchart-with-human-characters-books-computer-devices-purple_1284-31780.jpg" class="equalheight video-img-setting">
                    </div>
                    <a data-fancybox="" href="" class="video-play-button position-absolute">
                        <i class="fa fa-play"></i>
                    </a>

                </div>

                <div class=" quiq-ved col-md-6 col-sm-12 p-0 equalheight col-video bg-summer-sky order-lg-2">
                    <div class="video-content-setting center-block text-left text-xs-center equalheight">
                        <h1 class="color-white font-weight-light text-capitalize mb-2rem mb-xxs-3">
تعرف أكثر على QuiQ   </h1>
                        <p class="color-white">
                        شاهد الفيديو التوضيحي وتعرف على المزيد حول الصف الافتراضي خاصتنا 
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
